* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Heebo", sans-serif;
  font-family: "Montserrat Subrayada", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/backgrounds/desktop_background.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 300px 70px 50px;
      grid-template-rows: 100px 300px 70px 50px;
  grid-gap: 2rem;
  width: 75%;
}

.main-container .main-heading h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
}

.main-container .main-heading h1 span {
  color: red;
  font-size: 5rem;
  text-transform: uppercase;
}

.main-container .breathe-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  margin-top: -10px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-container .breathe-circle .circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-container .breathe-circle #text {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.main-container .breathe-circle .pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  -webkit-animation: rotate 7.5s linear forwards infinite;
          animation: rotate 7.5s linear forwards infinite;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.main-container .breathe-circle .pointer-container .pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.main-container .breathe-circle .gradient-circle {
  background: conic-gradient(#55b7a4 0%, #4ca493 40%, #fff 40%, #fff 60%, #336d62 60%, #2a5b52 100%);
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.main-container .breathe-circle.grow {
  -webkit-animation: grow 3s linear forwards;
          animation: grow 3s linear forwards;
}

.main-container .breathe-circle.shrink {
  -webkit-animation: shrink 3s linear forwards;
          animation: shrink 3s linear forwards;
}

.main-container .btn {
  margin-top: 2.5rem;
}

.main-container .btn #btn-reset {
  -webkit-box-shadow: 0px 10px 14px -7px #a60000;
          box-shadow: 0px 10px 14px -7px #a60000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e0121c), to(#d12a7b));
  background: linear-gradient(to bottom, #e0121c 5%, #d12a7b 100%);
  background-color: #e0121c;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #1e7694;
}

.main-container .btn #btn-reset:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #d12a7b), to(#e0121c));
  background: linear-gradient(to bottom, #d12a7b 5%, #e0121c 100%);
  background-color: #d12a7b;
}

.main-container .btn #btn-reset:active {
  position: relative;
  top: 1px;
}

.main-container .footer {
  color: #bbc7ce;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 0;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    background-image: url(../images/backgrounds/other_viewports_background.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-container {
    grid-gap: 20px;
  }
  .main-container .main-heading h1 {
    font-size: 2.5rem;
  }
  .main-container .main-heading h1 span {
    font-size: 4rem;
  }
  .main-container .breathe-circle {
    height: 200px;
    width: 200px;
  }
  .main-container .breathe-circle .pointer-container {
    position: absolute;
    top: -40px;
    left: 90px;
    width: 20px;
    height: 140px;
  }
  .main-container .breathe-circle .gradient-circle {
    height: 220px;
    width: 220px;
  }
  .main-container .btn {
    position: relative;
    bottom: 5rem;
  }
  .main-container .btn #btn-reset {
    font-size: 1rem;
  }
  .main-container .footer {
    position: relative;
    bottom: 4rem;
    font-size: 0.8rem;
    color: #000;
  }
  .vid {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url(../images/backgrounds/other_viewports_background.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-container {
    grid-gap: 20px;
  }
  .main-container .main-heading h1 {
    font-size: 2.5rem;
  }
  .main-container .main-heading h1 span {
    font-size: 4rem;
  }
  .main-container .breathe-circle {
    height: 250px;
    width: 250px;
  }
  .main-container .breathe-circle .pointer-container {
    position: absolute;
    top: -40px;
    left: 115px;
    width: 20px;
    height: 165px;
  }
  .main-container .breathe-circle .gradient-circle {
    height: 270px;
    width: 270px;
  }
  .main-container .btn {
    position: relative;
    bottom: 2rem;
  }
  .main-container .btn #btn-reset {
    font-size: 1rem;
  }
  .main-container .footer {
    position: relative;
    bottom: 1rem;
    font-size: 0.8rem;
    color: #000;
  }
  .vid {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */